Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/StarterContent/HDRI
Content/StarterContent
Content/Main/AssetsKit

.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace